.cell_item {
    overflow:hidden;
    width:100px;
}

.cell_item left_align {
    text-align:left;
}

.cell_item right_align {
    text-align:right;
}

.cell_item center_align {
    text-align:center;
}

.cell_item_option {
    text-decoration:none;
    color:2B547E;
    width:130px;
    height: 22px;
    margin: 10% auto;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.button {        
	display: inline-block;
	white-space: nowrap;
	background-color: #ccc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
	background-image: -webkit-linear-gradient(top, #eee, #ccc);
	background-image: -moz-linear-gradient(top, #eee, #ccc);
	background-image: -ms-linear-gradient(top, #eee, #ccc);
	background-image: -o-linear-gradient(top, #eee, #ccc);
	background-image: linear-gradient(top, #eee, #ccc);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
    width:80px;
    border: 1px solid #777;
	padding: 0 1.5em;
	margin: 0.5em;
	font: bold 1em/2em Arial, Helvetica;
	text-decoration: none;
	color: #333;
	text-shadow: 0 1px 0 rgba(255,255,255,.8);
	-moz-border-radius: .2em;
	-webkit-border-radius: .2em;
	border-radius: .2em;
	-moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
	-webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
	box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}

.button:hover {
	background-color: #ddd;        
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
	background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
	background-image: -moz-linear-gradient(top, #fafafa, #ddd);
	background-image: -ms-linear-gradient(top, #fafafa, #ddd);
	background-image: -o-linear-gradient(top, #fafafa, #ddd);
	background-image: linear-gradient(top, #fafafa, #ddd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');        
}

.button:active {
	-moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	-webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	position: relative;
	top: 1px;
}

.button:focus {
	outline: 0;
	background: #fafafa;
}    

.button:before {
	background: #ccc;
	background: rgba(0,0,0,.1);
	float: left;        
	width: 1em;
	text-align: center;
	font-size: 1.5em;
	margin: 0 1em 0 -1em;
	padding: 0 .2em;
	-moz-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	-webkit-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	-moz-border-radius: .15em 0 0 .15em;
	-webkit-border-radius: .15em 0 0 .15em;
	border-radius: .15em 0 0 .15em;
    pointer-events: none;        
}

/* Hexadecimal entities for the icons */

.add:before {
	content: "\271A";
}

.edit:before {
	content: "\270E";        
}

.delete:before {
	content: "\2718";        
}

.save:before {
	content: "\2714";        
}

.email:before {
	content: "\2709";        
}

.like:before {
	content: "\2764";        
}

.next:before {
	content: "\279C";
}

.star:before {
	content: "\2605";
}

.spark:before {
	content: "\2737";
}

.play:before {
	content: "\25B6";
}

.login_container {
    width: 220px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.login_button {
    float: right;
	width: 125px; 
    height: 42px;
    padding: 10px 15px; 
    margin: 0 15px 0 0;
	border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;    
	-moz-box-shadow: 0px 0px 5px #999;
    -webkit-box-shadow: 0px 0px 5px #999;
	border: 1px solid #556f8c;
	cursor: pointer;
}

.login_keeploggedin {
    padding-top: 100px;
    margin: 11px 20px 0 0; 
 	text-align: right;
    font-size: 16px; 
    color: #666666; 
    text-shadow: 0px 1px 0px #f2f2f2;
}

#content_panel {
    width: 98%;
    height: 420px;
    margin: 50px 0px 0px; 
    padding: 5px 10px;
    vertical-align: text-top;
}

#content_panel li { 
    display: inline-block;
    vertical-align: text-top; 
    padding: 10px; 
    height: 200px;
    background: fade(#faf8f8, 68); 
    font-family: 'Roboto', sans-serif; height: 120px; 
}

#content_panel li:nth-child(1) { 
    width: 68.556%;
    height: 380px;
    list-style: none; 
    padding: 10px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    background: #cccccc;    
}

#content_panel li:nth-child(2) { 
    width: 25.5%;
    height: 280px;
    margin-left: 10px;
    background: #cccccc;
    overflow: hidden;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;    
}

.subcontent {
    clear: float;    
    list-style: none; 
    padding: 10px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    background: #eeeeee;     
}

.subcontent_heading {
    padding: 10px;
    width: 420p;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    background: #bbbbbb;
    text-decoration:none;
    font-weight: bold;
    font-size: 16px;
}

.toprow {
    width: 100%;
    clear: float;
    float: left;
    font-weight:bold;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    background: #cccccc;
    -moz-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;    
}

.toprow .topcolumn {
    display: inline-block;
    padding: 0px 8px 0px 8px;
    line-height: 34px;  
    height: 42px;
    border-left: 1px solid #e0e0e0;
    font-size: 11px;
    text-align: center;
    background: #cccccc;
}

.toprow .number {
    float: left;
    clear: float;
    width: 80px;
    line-height: 34px;  
    height: 42px;
    border-left: 1px solid #e0e0e0;
    font-size: 11px;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;    
    background: #cccccc;
}

.toprow .name {
    float: left;
    clear: float;
    width: 130px;
    line-height: 34px;  
    height: 42px;
    border-left: 1px solid #e0e0e0;
    font-size: 11px;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
    background: #cccccc;
}

.toprow .short_name {
    float: left;
    clear: float;
    width: 80px;
    line-height: 34px;  
    height: 42px;
    border-left: 1px solid #e0e0e0;
    font-size: 11px;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
    background: #cccccc;
}

.toprow .mail {
    float: left;
    clear: float;
    width: 130px;
    line-height: 34px;  
    height: 42px;
    border-left: 1px solid #e0e0e0;
    font-size: 11px;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
    background: #cccccc;
}

.toprow .date {
    float: left;
    clear: float;
    width: 110px;
    line-height: 34px;  
    height: 42px;
    border-left: 1px solid #e0e0e0;
    font-size: 11px;
    text-align: center;
    background: #cccccc;
}

.toprow .status {
    float: left;
    clear: float;
    width: 80px;
    line-height: 34px;  
    height: 42px;
    border-left: 1px solid #e0e0e0;
    font-size: 11px;
    text-align: center;
    background: #cccccc;
}

.row {
    width: 100%;
    float: left;
    height: 42px;
    line-height: 42px; 
    font-size: 11px;    
    clear: float;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}

.row .column {
    display: inline-block;
    width: 130px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
}

.row .number {
    float: left;
    width: 80px;
    border-left: 1px solid #e0e0e0;
    margin-left: 2px;
    margin-right: 2px;
    text-align: right;
}

.row .number .center {
    text-align: center;
}

.row .date {
    float: left;
    width: 110px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
}

.row .name {
    float: left;
    width: 130px;
    border-left: 1px solid #e0e0e0;
    padding-left: 6px;
    padding-right: 6px;
    text-align: left;
}

.row .short_name {
    float: left;
    width: 80px;
    border-left: 1px solid #e0e0e0;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
}

.row .mail {
    float: left;
    width: 130px;
    border-left: 1px solid #e0e0e0;
    padding-left: 6px;
    padding-right: 6px;
    text-align: left;
}

.row .status {
    float: left;
    width: 80px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
}

.row .column_with_pic {
    float: left;
    clear: float;
    width: 130px;
    line-height: 110px; 
    height: 110px;
    padding-bottom: 6px;
    padding-top: 6px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
}

.row:nth-child(odd) {
    background: #ffffff;
}

.row:nth-child(even) {
    background: #ffffff; // e0e0e0
}

#pages {
    width: 100%;
    float: left;
    background: #ffffff;
    font-size: 12px;
    padding-bottom: 6px;
    padding-top: 6px;    
}

#pages #page_info {
    float: left;
    width: 72%;
    padding-left: 6px;
    height: 20px;
}

#pages #page {
    float: left;
    height: 20px;
    padding-left: 6px;
    padding-right: 6px;
}

#terms_and_condition {
    width: 98%;
    font-size: 12px;
    padding-top: 80px;
    padding-bottom: 60px;
}

#members {
    height: 560px;
    padding-top: 40px;
    padding-bottom: 60px;
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
	background-color:#ffc477;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	font-weight:bold;
	font-style:normal;
	height:19px;
	line-height:19px;
	width:auto;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #cc9f52;
    padding-left: 8px;
    padding-right: 8px;
}

.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
	background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
	background-color:#fb9e25;
}

.button:active {
	position:relative;
	top:1px;
}

.tabulate {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
	background-color:#ffc477;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	font-weight:bold;
	font-style:normal;
	height:24px;
	line-height:24px;
    padding-left: 8px;
    padding-right: 8px;
	width:auto;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #cc9f52;
}

.tabulate:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
	background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
	background-color:#fb9e25;
}

.tabulate:active {
	position:relative;
	top:1px;
}

#content_list {
    height: 560px;
    padding-top: 40px;
    padding-bottom: 60px;
}

#content_list #row {
    width: 100%;
    float: left;
    background: #ffffff;
}

.search_box {
    width: 240px;
    font-size: 12px;
}

.add_user_box {
    width: 240px;
}

.normal_label {
    font-size: 12px;
    font-weight: bold;
    margin-right: 8px;
}

.normal_text {
    font-size: 12px;
    font-weight: normal;
    margin-right: 8px;
}

.normal_child_label {
    margin-left: 8px;
    font-size: 12px;
    font-weight: bold;
    color: #888888;
}

.form_item {
    width: 400px;
    margin-bottom: 8px;
    margin-top: 8px;
}

.form_item_div {
    width: 400px;
    margin-bottom: 8px;
    margin-top: 8px;
    background: #cccccc; 
    padding-top: 6px; 
    padding-bottom: 6px; 
    padding-left: 6px; 
    padding-right: 6px;    
}

.form_item input, select, textarea {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.form_label {
    float: left;
    clear: float;
    font-size: 12px;
    font-weight: bold;
    margin-right: 8px;
    width: 120px;
}

.category_label {
    font-size: 12px;
    font-weight: bold;
}

.select_item {
    font-size: 12px;
}

input.text, textarea {
    width: 220px;
    border: 1px solid #bfbfbf;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    padding: 8px 5px;
    color: #333;
    -webkit-box-shadow: inset 2px 2px 2px rgba(0,0,0,0.03);
    -moz-box-shadow: inset 2px 2px 2px rgba(0,0,0,0.03);
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.03);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

input.number {
    width: 40px;
    border: 1px solid #bfbfbf;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-align:center;
    padding: 8px 5px;
    color: #333;
    -webkit-box-shadow: inset 2px 2px 2px rgba(0,0,0,0.03);
    -moz-box-shadow: inset 2px 2px 2px rgba(0,0,0,0.03);
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.03);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.shopthumb {
    display: inline-block;
    position: relative;
}

.common_table_container {
    padding: 50px 0 0 0;
    display: inline-block;
    position: relative;
}

.order_detail_container {
    display: inline-block;
    position: relative;
    background: #ffffff; 
    padding-left: 6px;
    padding-right: 6px;
    width: 99%;
}

.order_detail_container .form_item {
    width: 800px;
    margin-bottom: 8px;
    margin-top: 8px;
    text-align:left;    
}

.order_detail_container .form_item_div {
    width: 790px;
    margin-bottom: 8px;
    margin-top: 8px;
    background: #cccccc; 
    padding-top: 6px; 
    padding-bottom: 6px; 
    padding-left: 6px; 
    padding-right: 6px;        
}

.order_detail_container .form_itemized_container {
    width: 600px;
    margin-bottom: 8px;
    margin-top: 8px; 
    display: inline-block;
    position: relative;    
}

.form_itemized_container .item {
    display: inline-block;
    position: relative;    
    font-size: 12px;
    font-weight: normal;
}

.common_product_container {
    display: inline-block;
    position: relative;
    width: 100%;
    background: #ffffff;
    padding-top: 60px;
    padding-bottom: 60px;
}

.common_product_container .shopcart_left_container {
    width: 70%;
    background: #ffffff;
    float: left;
    padding: 6px;
    clear:float;
}

.common_product_container .shopcart_category_container {
    width: 15%;
    background: #ffffff;
    float: left;
    padding: 6px;
    clear:float;
}

.category-list {
    list-style: none;
}

.category-list li {
    background: #f3f3f3;
    padding: 8px;
    border: 2px solid #fefefe;
    font-weight: bold;
    font-size: 12px;
    cursor:pointer;    
}

.category-list .category-item {
    text-decoration: none;
    color: #666666;    
}

.quantity {
    font-size: 11px;
}

.order_item_link {
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #666666;
}

.product_photo {
    width: 240px;
}

.product-left-item {
    float: left;
    clear: float;
    width: 40%;
}

.product-right-item {
    float: right;
    clear: float;
    width: 60%;
}

.product-title {
    font-size: 18px;
    font-weight: bold;
}

.product-description {
    font-size: 12px;
}

.common_product_container .shopcart_right_container {
    width: 25%;
    background: #ffffff;
    float: right;
    clear: float;    
}

.shopcart_left_container .product_item {
    display: inline-block;
    position: relative;
    width: 160px;
    font-size: 12px;
    background: #f8f8f8;
    padding: 6px;
}

.shopcart_product_item {
    width: 160px;
    font-size: 12px;
}

.common_form_container {
    display: inline-block;
    position: relative;
    padding-top: 10px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background: #ffffff;    
}

.common_form_container .field_item {
    font-size: 16px;
    font-weight: bold;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-top: 6px;
}

.common_form_container .field_item_div {
    width: 99%;
    margin-bottom: 8px;
    margin-top: 8px;
    background: #cccccc; 
    padding-top: 6px; 
    padding-bottom: 6px; 
    padding-left: 6px; 
    padding-right: 6px;        
}

.form_button {
	width: auto; 
    height: auto;
    padding: 10px 15px; 
    margin: 0 15px 0 0;
	border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;    
	-moz-box-shadow: 0px 0px 5px #999;
    -webkit-box-shadow: 0px 0px 5px #999;
	border: 1px solid #556f8c;
	cursor: pointer;
}

.order_row {
    width: 100%;
    float: left;
    clear: float;
    border: 1px solid #e0e0e0;
}

.order_row .qty_top {
    float: left;
    width: 60px;
    line-height: 42px; 
    height: 42px;
    border-left: 1px solid #e0e0e0;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}

.order_row .name_top {
    float: left;
    width: 460px;
    line-height: 42px; 
    height: 42px;
    border-left: 1px solid #e0e0e0;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}

.order_row .price_top {
    float: left;
    width: 60px;
    line-height: 42px; 
    height: 42px;
    border-left: 1px solid #e0e0e0;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}

.order_row .qty {
    float: left;
    width: 60px;
    font-size: 11px;
    text-align: center;
    padding: 6px;
}

.order_row .name {
    float: left;
    width: 440px;
    font-size: 11px;
    text-align: left;
    padding: 6px;
}

.order_row .price {
    float: left;
    width: 60px;
    font-size: 11px;
    text-align: right;
    padding: 6px;
}

.order_row .qty_last {
    float: left;
    width: 60px;
    font-size: 18px;
    text-align: center;
    padding: 6px;
}

.order_row .name_last {
    float: left;
    width: 440px;
    font-size: 18px;
    text-align: left;
    padding: 6px;
}

.order_row .price_last {
    float: left;
    width: 60px;
    font-size: 18px;
    text-align: right;
    padding: 6px;
}

.field_item label span {
     color:#f00;
}

.pagination {
    width: 100%;
    display: inline-block;
    position: relative;
    background: #ffffff;
    font-size: 12px/24px;
    padding-bottom: 6px;
    padding-top: 6px;    
}

.pagination .info {
    float: left;
    width: 68%;
    padding-left: 6px;
    height: 20px;
    color: #666666;
    font-size: 12px;
    font-weight: bold;
}

.pagination .pages {
    float: right;
}

.pagination .pages .item {
    float: left;
}

.page {
    display: inline-block;
    padding: 0px 4px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}

.page:hover, .page.gradient:hover {
    background: #fefefe;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
    background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
}

.page.active {
    border: none;
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}

.page.disable {
    color: #cccccc;
}

.page.gradient {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
    background: -moz-linear-gradient(0% 0% 270deg,#f8f8f8, #e9e9e9);
}

.jqplot-axis {
    font-size: 0.85em;
}
.jqplot-title {
    font-size: 1.1em;
}