/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

h1, h2, h3, h4, h5, h6, h7, h8, h9 { padding: 0px; margin: 0px; }

body {
    font-size: 1em;
	margin: 0px;
	background: url(../images/sphere/bg.jpg) no-repeat;
	background-size: cover;
	min-height: 800px;
	font-family: Arial, Helvetica, sans-serif;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

header { width: 100%; }
#banner { margin: -55px 0px 0px 20px; position: absolute;
	h1.web-ban { width: 143px; height: 199px; display: block; background: url(../images/sphere/mlm-logo.png) no-repeat; }
}
.navigation { width: 100%; height: 50px; z-index: -99; overflow: hidden;
	ul { vertical-align: text-top; width: 980px; margin: 0px auto; text-align: right;  
		li.tptomato, li.tpswap { width: 12%; }
		li { display: inline-block; vertical-align: text-top; padding: 15px 5px; width: 140px; text-align: center; text-transform: uppercase; }
		li.tpitems { padding-left: 30px; }
		li.top { background: url(../images/sphere/top-nav-logos.png) no-repeat; height: 20px; }
		li.tptomato { background-position: 25px 15px; }
		li.tptime { background-position: -100px 15px; width: 16%; }
		li.tpswap { background-position: -271px 15px; }
	}
}
.main-nav { background: none; box-shadow: 1px 1px 10px rgba(0,0,0,0.9); color: #fff; }
.sub-nav { background: #fefdfd; }
ul#main-nav { 
	a { color: #fff; font-family: 'Fjalla One', sans-serif; }
	a:hover li { background-color: #343434; }
	strong.cart-ico { width: 17px; height: 49px; background: url(../images/sphere/items-icon.png) no-repeat; display: inline-block; vertical-align: text-top; position: absolute; margin: -17px 0px 0px -25px; }
	
}
ul#sub-nav {
	a { color: #020202; font-family: 'Fjalla One', sans-serif; text-decoration: none; }
	a:hover li { background: #ccc; }
	li { width: 9.15%; }
	
	ul.sublets { display: none; position: absolute; background: fade(#020202, 75); color: #fff; box-shadow: 0px 2px 5px rgba(255,255,255,0.5); width: 200px; margin: 5px 0px 0px -5px; overflow: hidden;
		a { color: #fff; text-decoration: none; }
		a:hover li { width: 100%; background: #343434; }
		li { display: block; text-transform: none; padding: 10px!important; margin: 0px!important; width: 100%; text-align: left; }
	}
} 
li#commissions:hover, li#family-tree:hover, li#learn-more:hover { background: #ccc; height: 51px; margin-top: -2px; padding: 17px 5px 15px;cursor: pointer; }

/*** Content Wrap ***/
#cont-wrap { width: 960px; background: #505050; margin: 0px auto 0px; padding: 25px 10px 10px; box-shadow: 0px 0px 15px rgba(255,255,255,0.5); 
	h1.page-title { width: 100%; text-align: center; text-transform: uppercase; color: #FFFFFF; font-family: 'Fjalla One', sans-serif; font-size: 55px; font-weight: normal; line-height: 60px; padding: 50 0 0 0;}
	
	ul#user-main-pane { width: 98%; margin: 50px 0px 0px; padding: 5px 10px; vertical-align: text-top; 
		li { display: inline-block; vertical-align: text-top; padding: 10px; background: fade(#faf8f8, 68); font-family: 'Roboto', sans-serif; height: 120px; }
		li:nth-child(1) { width: 68.556%; list-style: none; padding: 10px;
			h2 { font-family: 'Fjalla One', sans-serif; }
			p { padding: 0px; margin: 5px 0px; }
		}
		li:nth-child(2) { width: 25.5%; margin-left: 10px; overflow: hidden;
		
			ul#ump-opts { padding: 0px; margin: 0px;
				li { display: block; width: 100%; text-align: left; margin: 0px; padding: 10px 5px; background: none; height: 10px; font-style: italic;
					strong { margin-right: 10px; }
				}
				a { text-decoration: none; color: #343434; }
				a:hover { text-decoration: underline; }
			}
		}

	}
	
	ul#user-accordion-pane { padding: 0px; margin: 20px auto 0px; width: 98%; font-family: 'Roboto', sans-serif;
		li { list-style: none; margin: 15px 0px; width: 920px;
			a { color: #343434; }
			h3 { vertical-align: text-bottom; display: inline-block; background: fade(#faf8f8, 68); width: 100%; padding: 10px; 
				strong.accord { width: 25px; height: 25px; background: url(../images/sphere/plus-minus.png) no-repeat; display: inline-block; vertical-align: text-top; }
			}
			.accopen { display: none; color: #fff; width: 98%; font-family: 'Roboto', sans-serif; margin: 10px auto; padding: 10px 20px; 
				ul.info {  
					li { width: 49%; vertical-align: text-top; margin: 5px 0px; color: #343434; 
						strong { display: inline-block; vertical-align: text-top; }
						p { display: inline-block; vertical-align: text-top; padding: 0px; margin: 0px; word-break: break-word; }
						em { display: inline-block; vertical-align: text-top; }
					}
					li.odd { float: left; }
					li.even { float: right; margin-left: 10px; }
					li.odd.last { clear: both; }
					a { color: #a12a1d; font-style: italic; text-decoration: none; }
					a:hover { text-decoration: underline; }
				}
				ul.logs { background: fade(#faf8f8, 38); padding: 10px;
					li { width: 100%; color: #000; font-size: .90em; margin: 0px 0px 10px; } 
				}
			}
		}
	}
	
	ul li a.open h3 strong  { width: 25px; height: 25px; background: url(../images/sphere/plus-minus.png) no-repeat; display: inline-block; vertical-align: text-top; background-position: 0px -25px!important; }
	ul li a.close h3 strong  { width: 25px; height: 25px; background: url(../images/sphere/plus-minus.png) no-repeat; display: inline-block; vertical-align: text-top; background-position: 0px 0px!important; }

	div#home-acc {background-color:#C2C2C2;font-family: 'Roboto', sans-serif;color:black;text-align:left;
		table,th,td,.tAnnouncement{
			color: black;
			 margin: 0 auto; 
		}
		th,td,.tTitle{ padding: 5px; width: 15%;}
		th,td,.tDescription{ padding: 5x; width: 60%;}
		th,td,.tDate{ padding: 5px;width: 25%;}
	}
}

.show { display: block!important; }

/*** Footer ***/
	footer { background: #bfbebe; }
	#foot-hold { width:980px; margin:0 auto; padding:35px 0 130px 0;}
		.ft_box { float:left; display:inline;}
		.ft_headings { font-family: 'Fjalla One', sans-serif; font-size:16px; font-weight:normal; text-transform:uppercase;  text-align:left; color:#020202; line-height:31px;}
			.small { font-size:15px !important;}
			.borderbottom { border-bottom:solid 2px #000; line-height:30px;}
			.sm_margin { margin:60px 0 0 0;}
			
		#ft_box1 { width: 28.901%; margin:0 19px 0 15px;}
			#mailinglist_form { margin:0 auto 20px; height:24px;}
				#fld_maillist { font-family: 'Roboto', sans-serif;  font-size:13px; color:#020202; width:187px; height:18px; border:none; background:#fff; padding:3px; }
				#btn_maillist { font-family: 'Fjalla One', sans-serif; font-size:17px; color:#020202; text-align:center; width:45px; height:24px; background:#fff; border:none; line-height:24px; margin:0 0 0 5px; }

			.ft_box ul { padding:10px 0 0 0;}
				.ft_box li a { font-family: 'Roboto', sans-serif;  font-size:14px; color:#020202; line-height:22px; text-decoration: none; }				
			
		.prev, .next { display:none;}
		
		#ft_box2 { width: 17.01902748414376%; margin:0 14px 0 0;
			ul li { list-style: none; }
		}
		#ft_box3 { width: 9.513742071881607%; margin:0 35px 0 0;
			ul li { list-style: none; }
		}
		#ft_box4 { width: 17.75898520084567%; margin:0 43px 0 0;
			ul li { list-style: none; }
		}
		#ft_box5 { width: 8.985200845665962%;
			ul li { list-style: none; }
		}

/*** INPUT STYLES ***/
input.mem-txtfld { padding: 5px 10px; color: #343434; font-family: 'Roboto', sans-serif; font-size: 0.85em; width: 160px; margin: 0px 5px 0px; }
select.mem-drpdwn { width: 150px; height: 35px; padding: 5px 10px; font-family: 'Roboto', sans-serif; font-size: 0.85em; margin: 0px 0px 0px 5px; }
input.long-txtfld { padding: 5px 10px; color: #343434; font-family: 'Roboto', sans-serif; font-size: 1.15em; width: 250px; margin: 0px 5px 0px; }
select.reg-drpdwn { width: 100px; height: 35px; padding: 5px 10px; font-family: 'Roboto', sans-serif; font-size: 0.85em; margin: 0px 0px 0px 10px; }


/*** MEMBERSVIEW TABLE ***/
table.members-table { width: 900px; margin: 30px auto 0px; font-family: 'Roboto', sans-serif;
	tr td { padding-top: 5px; padding-bottom: 5px; }
	tr td a { color: #a12a1d; }
	tr:nth-child(1) {  
		th:nth-child(1) { width: 500px; text-align: left; }
		th:nth-child(2) { width: 215px; text-align: left; }
		th:nth-child(3) { width: 25px; margin: 0px; }
	}
	tr:nth-child(1):hover { background: none; }
	tr:hover { background: #ccc; }
}
table.members-table.list {  
	tr:nth-child(2) th { width: 10%; text-transform: none; font-size: 1em; font-weight: 500; padding: 5px 1px; vertical-align: text-top; background: #ccc; }
	td { text-align: center; }
}
/*** TRANSACTIONS ***/
table.members-table.transactions {  
	tr:nth-child(1) { padding: 5px; 
		th { width: 20%; text-align: center; padding-top: 5px; padding-bottom: 5px; }
	}
	tr td { width: 20%; text-align: center; }
}

/*** TABLE ROBOTO ***/
table.roboto { width: 900px; margin: 20px auto 0px; font-family: 'Roboto', sans-serif; color: #343434; }
table.roboto th { vertical-align: text-top; }

/*** TABLE HOVER ***/
table.table-hover { width: 900px; margin: 0px auto; font-family: 'Roboto', sans-serif; color: #343434;
	tr:hover { background: #ccc; }
	a { color: #a12a1d; }
}

/*** MEMBERS SEARCH RESULTS ***/
table.mem-sres tr td { text-align: center; }
table.mem-sres tr td:nth-child(1) { display: none; }

table.roboto.pop { color: #f4f4f4; width: 600px; margin: 10px auto; }
table.roboto.pop th { vertical-align: text-top; font-weight: 500; font-size: 0.95em; }

/*** PAGE ***/
#pagination {  
	.pages { text-align: center; margin: 30px auto 0px;
		a { padding: 5px; margin: 0px 5px; background: #ccc; text-decoration: none; color: #343434; }
		strong { background: #ccc; padding: 5px; }
	}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

div.dMsg{
 	font-family: 'Roboto', sans-serif;
	table.tMessage{
	color:black;
	width:100%;
	margin: 0 auto;
		td{text-align:left;}
		.tdDate{ width: 10%;}
		.tdFrom{ width: 20%;}
		.tdMsg{ width: 60%;}
		.tdReply{ width:10%;}
		a{color:black;text-decoration:none;}
	}
}

div.dComposeMsg{
 	font-family: 'Roboto', sans-serif;color:black;
	table.tConversation{
	width: 100%;
	margin: 0 auto;
	}
		td{text-align:left;}
		td.tdSpeaker{ width:10%;}
		td.tdDate{ width:20%;font-style:italic;}
		td.tMessage{ width:80%;}
		
}



