table.hovertable {
	font-family: verdana;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}

table.hovertable th {
	background-color:#c3dde0;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}

table.hovertable tr {
	background-color:#d4e3e5;
}

table.hovertable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}

.text{
	font-family: verdana;
}

#pagination{
    font-family: verdana;
    font-size:11px;
    display:inline-block;
    width:90%;
    padding:10px;
    margin-left: 300px;
}

#pagiCount{
    margin-left:150px;
}

#pagination a, #pagination strong {
    display:block;
    float:left;
    margin-left:10px;
    text-decoration:none;
    background:#c3dde0;
    padding:10px;
    border: 2px solid #a9c6c9;
    color:#292929;
    font-size:16px;
    border-radius: 5px;
}

#prev a{
    color:black;
    border:2px double #a9c6c9;
    border-radius: 5px;
}

#next a{
    color:black;
    border:2px double #a9c6c9; 
}

#pagination strong , #pagination a:hover {
    font-weight:normal:
    background:#a9c6c9;
    -moz-box-shadow:2px 2px 5px #000000;
    -webkit-box-shadow:2px 2px 5px #000000;
     box-shadow: 2px 2px 5px #000000;
}
/*
tr:nth-child(even) {
    background: #CCC
}*/